#app {
  height: 100%;
}
.example-component-window {
  height: 90%;
  width: 90%;
  margin: 3% auto;
  position: relative;
  .exmaple-icon {
    .icon {
      margin-right: 5px;
      margin-left: 5px;
      font-size: 20px;
      color: #666;
    }
  }
}
