#app {
  height: 100%;
}

@import "~@feizheng/react-clipboard/dist/style.scss";

$base-font-family: none;

.example-component-window {
  height: 90%;
  width: 90%;
  margin: 3% auto;
  position: relative;
  .exmaple-icon {
    .icon {
      margin-right: 5px;
      margin-left: 5px;
      font-size: 24px;
      color: #666;
    }
  }

  .exmaple-button {
    .btn {
      margin-right: 5px;
    }
  }

  .exmaple-window {
    p {
      border-left: 4px solid #eee;
      padding-left: 10px;
      & + p {
        margin-top: 10px;
      }
    }
  }

  .react-highlight {
    border-radius: 4px;
    border: 2px dashed #ddd;
    margin: 20px 10px 20px;
    padding: 5px;
    position: relative;
    &:hover {
      border-color: #aaa;
      .react-clipboard {
        opacity: 1;
      }
    }
    .react-clipboard {
      opacity: 0;
      right: 2px;
      top: 2px;
      position: absolute;
      transition: all 0.3s;
      &__clippy {
        padding: 0;
        top: 3px;
        position: relative;
      }
    }
  }
}
