#app {
  height: 100%;
}

@import "~@feizheng/react-clipboard/dist/style.scss";

.example-component-window {
  height: 100%;
  position: relative;
  > .window {
    width: 80%;
    height: 80%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
  }

  .layout-header {
    border-left: 4px solid #eee;
    padding-left: 10px;
    margin-bottom: 10px;
    text-transform: uppercase;
  }

  .exmaple-icon,
  .exmaple-all {
    >.icon {
      margin-right: 5px;
      margin-left: 5px;
      font-size: 24px;
      color: #666;
    }
  }

  .exmaple-button {
    .btn {
      margin-right: 5px;
    }
  }

  .exmaple-window,
  .exmaple-tabs {
    p {
      border-left: 4px solid #eee;
      padding-left: 10px;
      & + p {
        margin-top: 10px;
      }
    }
  }

  .react-highlight {
    border-radius: 2px;
    border: 1px dashed #ddd;
    margin: 10px 10px 20px;
    padding: 5px;
    position: relative;
    &:hover {
      border-color: #aaa;
      .react-clipboard {
        opacity: 1;
      }
    }
    .react-clipboard {
      opacity: 0;
      right: 4px;
      top: 4px;
      min-width: 24px;
      min-height: 26px;
      position: absolute;
      transition: all 0.3s;
      &__clippy {
        padding: 0;
        top: -1px;
        left: 1px;
        position: relative;
      }
    }
  }
}
