import Property from 'root/public/components/layout/property';
import Container from 'root/public/components/layout/container';
import ReactHighlight from '@feizheng/react-highlight';
import ReactClipboard from '@feizheng/react-clipboard';

export default () => {
  return (
    <Container>
      <p>https://github.com/afeiship/react-photon</p>
      <p>http://photonkit.com/</p>
    </Container>
  );
};
